/* Barre de Navigation */

#navBar {
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid white;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    margin-top: -120px;
    margin-bottom: 5%;
}

/* Modifie le style de toute la page */

body {
    background-image: radial-gradient(circle at center center, rgba(33,33,33,0),rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgb(56,56,56) 0px, rgb(56,56,56) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
    color: white;
    text-align: center;
    margin-top: 120px;
}

/* Boutons de la navBar */

.navBtn {
    margin-top: 2%;
    margin-bottom: 2%;
    border: solid 1px white;
    border-radius: 15px;
    padding: 1% 3%;
    background-color: transparent;
    color: white;
}

/* Boutons de la navBar quand survolés */

.navBtn:hover{
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 1% 3%;
    background-color: white;
    color: black;
}

/* Bouton présentation */

#presentation_Btn {
    margin: auto 10% ;
    display: flex;
}

/* Logo dans la nav */

#logo {
    width: 7%;
    border-radius: 100%;
    margin: auto;
}

/* Zone de presentation */

#presentation {
    margin-top: 5em;
}

/* Section "A Propos De Moi" */ 

#maSection {
    border: 1px solid white;
    border-radius: 15px;
    width: 75%;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.3);
}

/* Section "Compétences Techniques" */

#skillsSection {
    border: 1px solid white;
    border-radius: 15px;
    width: 75%;
    padding-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.3);
}

/* Zone de projet */

#firstSection {
    margin-top: 10%;
    margin-bottom: 7%;
}

#projectSection {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Div dans la section des projets */

.project {
    border: 1px solid white;
    border-radius: 15%;
    padding: 15%;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    margin: auto;
}

footer {
    background-color: white;
    height: 17%;
    margin-top: 5%;
}